.settings-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.settings-card {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.settings-card h3 {
  margin-bottom: 15px;
  font-weight: 600;
}

.profile-block {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.profile-block img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.setting-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.btn {
  background: #707aff;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  margin-top: 8px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-overlay.hidden {
  display: none;
}

.modal-box {
  background: var(--card-bg);
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  border-radius: 25px;
}

.btn-cancel {
  background: #ddd;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

.btn-yes {
  background: #ff3b30;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}


/* Toggle Switch */
.switch {
  position: relative;
  width: 50px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background: #ccc;
  border-radius: 50px;
  top: 0; left: 0;
  width: 100%; height: 100%;
  transition: .3s;
}

.slider:before {
  content: "";
  position: absolute;
  width: 20px; height: 20px;
  background: white;
  border-radius: 50%;
  top: 2px; left: 2px;
  transition: .3s;
}

input:checked + .slider {
  background: #707aff;
}

.settings-link{
  color: #fb4d2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
